.wrap {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrap .btnWrap {
    margin-bottom: 24px;
}

.wrap .btnWrap button {
    margin-right: 24px;
}

.wrap .testFlexChart {
    width: 80vw;
    height: 45vh;
    /*height: 15vh;*/
    background-color: aliceblue;
}
